@model IEnumerable<Test.PlanDrying>
@{
    ViewData["Title"] = "PrintValue";
}

<div class="card col-md-12">
	<table class="text-center">
		<thead>
			<tr>
				<th>Кол-во камер</th>
				<th>Месяц</th>
				<th>Времени свободного</th>
				<th>Затрачено</th>
				<th>Полезность</th>
			</tr>
		</thead>
		@foreach (PlanDrying plan in Model)
		{
			<tr><td>@plan.ValueChamber</td><td>@plan.MonthDrying</td><td>@plan.HoursLeftDrying</td><td>@plan.HoursSpendDrying</td><td>@plan.Utility</td>
																	<td>
																	<a asp-action="Details" asp-controller="CalibrateValue" asp-route-id="@plan.Id">Подробнее</a> |
																	<a asp-action="AddChambers" asp-controller="CalibrateValue" asp-route-id="@plan.Id">Добавить</a> |
																	<a asp-action="Delete" asp-controller="CalibrateValue" asp-route-id="@plan.Id">Удалить</a>
																	</td></tr>

		}
	</table>
</div>

